body{
    color: rgb(239, 223, 223);
    background-color: rgb(21, 20, 20);
    background-image: url(/public/images/blackBackground.jpg);
    background-repeat: repeat;
    
    
}



  

h1{
    font-size: 60px;
    text-align: center;
    margin: 2em;
}

.elonPic {
    width: 30%;
    margin: 2em;
    border-radius: 50px;
    border: 2px solid white;
}

.elonProfile {
    display: flex;
    display: row;
    align-items: center;
    margin: 2em;
}

.elonProfile p {
    font-size: 25px;
    width: 40%;
    text-align: left;
}


.welcomeTitle{
    font-size: 40px;
    
}


.welcomeText{
    font-size: 25px;
    
    
    
}

.introBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 80%;


    
}

.listTitle {
    margin: 2em;
    text-align: center;
    font-size: 35px;
}

.teslaBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 5px solid white;
    width: 60%;
    margin: auto;
    border-radius: 20px;
}

.teslaBox img{
    float: top;
    width: 80%;
    margin: 2em;
    border-radius: 20px;
    border: 2px solid white;
    filter: brightness(80%);
    transition: 600ms ease-in-out;
}

.teslaBox img:hover{
    width: 90%;
    transition: 500ms ease-in-out;
}


.teslaBox p{
    font-size: 20px;
    margin: 2em;
    text-align: left;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 15px;
    font-weight: 500;
}

iframe {
    display: block;
    margin: auto;
    border: white 5px solid;
    margin-top: 15px;
}



    














